@model AmeriForce.Data.Client

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageSortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageSortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClosed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForecastCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForecastCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForecastCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForecastCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemModstamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemModstamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastActivityDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastActivityDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastStageChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastStageChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalQuarter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalQuarter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastAmountChangedHistoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastAmountChangedHistoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastCloseDateChangedHistoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastCloseDateChangedHistoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legal_Docs_Issued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legal_Docs_Issued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legal_Docs_Received)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legal_Docs_Received)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legal_Docs_Time_Out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legal_Docs_Time_Out)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.External_Opportunity_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.External_Opportunity_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AD_Credit_Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AD_Credit_Review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delayed_Opportunity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delayed_Opportunity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.All_Post_Funding_Tasks_Completed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.All_Post_Funding_Tasks_Completed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approval_Decision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approval_Decision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approval_Decision_Time_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approval_Decision_Time_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bankruptcy_Search)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bankruptcy_Search)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BDO_Write_Up_Received)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BDO_Write_Up_Received)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_Profile_Out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_Profile_Out)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_Profile_In)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_Profile_In)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corporate_Verification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corporate_Verification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criminal_Background_Search)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criminal_Background_Search)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_B_Prospect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_B_Prospect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Due_Diligence_Deposit_Received)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Due_Diligence_Deposit_Received)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File_Received_by_UW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.File_Received_by_UW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File_to_Client_Services)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.File_to_Client_Services)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File_to_Mgmt_for_Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.File_to_Mgmt_for_Review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First_Response)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First_Response)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTL_Search_State_County)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTL_Search_State_County)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initial_Funding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initial_Funding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ins_Verification_Transp_Staff_only)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ins_Verification_Transp_Staff_only)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invoices_Rcd_Ready_to_Move_Fwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invoices_Rcd_Ready_to_Move_Fwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judgment_Search)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judgment_Search)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Litigation_Search)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Litigation_Search)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost_to_Competitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost_to_Competitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mgmt_Completes_Post_Funding_File_Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mgmt_Completes_Post_Funding_File_Review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pre_Approval_Biz_Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pre_Approval_Biz_Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason_Lost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason_Lost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referral_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referral_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referring_Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referring_Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referring_Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referring_Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Searches_Requested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Searches_Requested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Searches_Returned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Searches_Returned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STL_Search)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STL_Search)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax_Guard_Report)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax_Guard_Report)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term_Sheet_Issued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term_Sheet_Issued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term_Sheet_Received)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term_Sheet_Received)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UCC_Search)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UCC_Search)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UW_Hands_over_for_First_Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UW_Hands_over_for_First_Review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextActivityID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextActivityID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
