@model IEnumerable<AmeriForce.Data.Company>

@{
    ViewData["Title"] = "Company Main";
}
<style>
    .body-container {
    /*remove the container default padding attribute*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    /*increase width as per your need*/
    max-width: 100%;
} 
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="~/Content/ContactStyleSheet.css" rel="stylesheet" />


<nav aria-label="breadcrumb" align="right">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Companies" , new { id=999 })">Companies</a></li>
        <li class="breadcrumb-item active" aria-current="page">Company Listing</li>
    </ol>
</nav>

<div style="border:0px solid #333;">
    <div class="container mainPageBody" style="border:1px solid #333;background-color:#fff;">

        <div class="row contactHeader">
            <div class="col-lg-5" align="left">
                <div style="border:0px solid black;">
                    <table align="left">
                        <tr>
                            <td valign="middle" style="border:1px solid #fff;padding:10px;">
                                <i class="fa fa-building" style="font-size:48px;"></i>
                            </td>
                            <td class="leftTextAlign" style="border:1px solid #fff;padding:0px;">
                                <span class="overviewHeader dealAmount">
                                    <span class="overviewHeader dealAmount">
                                        Companies
                                    </span>
                                    <br />
                                    <span class="nameSubHeader gradeAReversed"> @Model.Count() Total</span>
                                <br />
                                <span class="nameSubHeaderNextCall"> @DateTime.Now</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-6" align="left">
                @*Use this screen to create a new Company.*@
            </div>
            <div class="col-lg-1" align="center">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="padding:10px;background-color:#eee;" align="center">
                <a href='@Url.Action("Create", "Companies")' class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Create Company</a>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="padding:10px;" align="left">
                    <div class="container">
                        <p align="right">
                            Search: <input type="text" name="contactSearch" class="searchTextbox" placeholder="Search Contacts..." />
                        </p>
                        <table class="table table-condensed table-hover table-bordered searchTable" style="width:100%;">
                            <tr class="darkTableHeading">
                                <th align="left" class="centerTextAlign">
                                    @Html.DisplayName("Name")
                                </th>
                                <th class="centerTextAlign">
                                    @Html.DisplayName("Description")
                                </th>
                                <th align="left" class="centerTextAlign" style="width:160px;">
                                    @Html.DisplayName("Charter State")
                                </th>
                                <th align="left" class="centerTextAlign">
                                    @Html.DisplayName("SIC Code")
                                </th>

                                <th width="120"></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="leftTextAlign align-middle" style="padding:5px;">
                                        @Html.DisplayFor(modelItem => item.Name)

                                    </td>
                                    <td class="leftTextAlign align-middle" style="padding:5px;">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="leftTextAlign align-middle" style="padding:5px;">
                                        @Html.DisplayFor(modelItem => item.CharterState)
                                    </td>
                                    <td class="leftTextAlign align-middle" style="padding:5px;">
                                        @Html.DisplayFor(modelItem => item.SICCode)
                                    </td>


                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-primary" style="padding:0px 5px 0px 5px;font-size:12px;">Edit</a> 
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-primary" style="padding:0px 5px 0px 5px;font-size:12px;">Details</a> 
                                        @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                                    </td>
                                </tr>
                            }

                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

        <script src="~/jQuery/jQuery_TableSearch.js"></script>
        }