@model AmeriForce.Models.Contacts.ContactEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="~/Content/ContactStyleSheet.css" rel="stylesheet" />

<nav aria-label="breadcrumb" align="right">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Contacts" , new { id=999 })">Contacts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create New Contact</li>
    </ol>
</nav>



<div style="border:0px solid #333;">
    <div class="container-fluid mainPageBody" style="border:1px solid #333;background-color:#fff;">

        @*Contact Detail Div*@
        <div class="row contactHeader">
            <div class="col-lg-5" align="left">
                <div style="border:0px solid black;">
                    <table align="left">
                        <tr>
                            <td valign="middle" style="border:1px solid #fff;padding:10px;">
                                <i class="fa fa-file-signature" style="font-size:40px;"></i>
                            </td>
                            <td class="leftTextAlign" style="border:1px solid #fff;padding:10px;">
                                <span class="overviewHeader dealAmount">
                                    Edit Contact
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-6" align="left">
                Use this screen to create a new Contact.
            </div>
            <div class="col-lg-1" align="center">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="padding:10px;background-color:#eee;" align="center">
                <a href='@Url.Action("Index", "Contacts", new { id = 999 })' class="btn btn-sm btn-primary"> <i class="far fa-arrow-alt-circle-left"></i> Back To Content List</a>
            </div>
        </div>


        @using (Html.BeginForm("Edit", "Contacts", FormMethod.Post, new { @id = "contactEditForm", @name = "contactEditForm", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-9" style="padding:10px;" align="left">
                    <div class="container-fluid">
                        @*CONTACT INFORMATION*@
                        <div class="row">
                            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 workingSectionSubHeaderBackground">
                                <h2 class="subHeadingTitle"><i class="fas fa-user" aria-hidden="true"></i> Contact Information</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding:5px;" align="left">

                                @*CONTACT FIRST NAME*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactFirstName">First Name </span>
                                    </div>
                                    <input type="text" id="contactData_FirstName" name="contactData_FirstName" value="@Model.contactData.FirstName" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>
                                
                                
                                @*CONTACT LAST NAME*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelClientLastName">Last Name </span>
                                        <span class="input-group-text requiredClass" id="IG_contactData_LastName"></span>
                                    </div>
                                    <input type="text" id="contactData_LastName" name="contactData_LastName" value="@Model.contactData.LastName" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*CONTACT PREFERRED NAME*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelClientPreferredName">Preferred Name </span>
                                        <span class="input-group-text requiredClass" id="IG_contactData_PreferredName"></span>
                                    </div>
                                    <input type="text" id="contactData_PreferredName" name="contactData_PreferredName" value="@Model.contactData.Preferred_Name" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*CONTACT TITLE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelClientTitle">Title </span>
                                    </div>
                                    <input type="text" id="contactData_Title" name="contactData_Title" value="@Model.contactData.Title" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*CONTACT DEPARTMENT*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactDepartment">Department </span>
                                    </div>
                                    <input type="text" id="contactData_Department" name="contactData_Department" value="@Model.contactData.Department" class="form-control input-lg contactEntryTerms" maxlength="100" />
                                </div>

                                @*CONTACT OWNER*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactBDO">BDO </span>
                                        <span class="input-group-text requiredClass" id="IG_contactData_OwnerId" name="IG_contactData_OwnerId"><i class="fas fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    @Html.DropDownListFor(model => model.contactData.OwnerId, Model.BDOList, new { @class = "form-control", @maxlength = 5 })
                                </div>

                                @*RELATIONSHIP STATUS*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelRelationshipStatus">Relationship Status </span>
                                        <span class="input-group-text requiredClass" id="IG_contactData_Relationship_Status" name="IG_contactData_RelationshipStatus"></span>
                                    </div>
                                    @Html.DropDownListFor(model => model.contactData.Relationship_Status, Model.RelationshipStatusList, new { @class = "form-control", @maxlength = 5 })
                                </div>

                                @*TAG/GRADE/SORT*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelTagGradeSort">Tag/Grade/Sort </span>
                                        <span class="input-group-text requiredClass" id="IG_contactData_Rating_Sort" name="IG_contactData_Rating_Sort"></span>
                                    </div>
                                    @Html.DropDownListFor(model => model.contactData.Rating_Sort, Model.TagGradeSortList, new { @class = "form-control", @maxlength = 5 })
                                </div>

                                @*UPDATE NEEDED*@
                                @*<div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <span class="input-group-text input-sm" id="LabelUpdateNeeded">Update Needed </span>
                                    <span class="input-group-text requiredClass" id="IG_contactData_Update_Needed" name="IG_contactData_Update_Needed"><i class="fas fa-user" aria-hidden="true"></i></span>
                                    @Html.ListBoxFor(model => model.contactData.Update_Needed, Model.UpdateNeededList, new { @class = "form-control", @style="height:75px;" })
                                    </div>*@

                                @*UPDATE NEEDED*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelUpdateNeeded">Update Needed </span>
                                        @*<span class="input-group-text requiredClass" id="IG_contactData_Update_Needed" name="IG_contactData_Update_Needed"><i class="fas fa-user" aria-hidden="true"></i></span>*@
                                    </div>
                                    @Html.ListBoxFor(model => model.UpdateNeededIntermediate, Model.UpdateNeededList, new { @class = "form-control", @style = "height:100px;" })
                                </div>

                                @*UPDATE NEEDED DATE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelUpdateNeededDate">Update Needed Date </span>
                                    </div>
                                    <input type="text" id="contactData_Update_Needed_Date" name="contactData_Update_Needed_Date" value="@Model.contactData.Update_Needed_Date" data-provide="datepicker" class="form-control input-lg clientEntryTerms dateDropDown" maxlength="50" />
                                </div>

                            </div>
                            <div class="col-lg-6" style="padding:5px;" align="left">

                                @*EMAIL OPT OUT*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactEmailOptOut">Email Opt Out </span>
                                        @*<span class="input-group-text requiredClass" id="IG_contactData_HasOptedOutOfEmail"></span>*@
                                    </div>
                                    <span style="padding:5px;padding-left:10px;">
                                    @Html.CheckBoxFor(model => model.contactData.HasOptedOutOfEmail) &nbsp;&nbsp;(Click if yes/Unclick if no)
                                    </span>
                                </div>
                                
                                @*EMAIL OPT OUT DATE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelEmailOptOutDate">Email Opt Out Date </span>
                                    </div>
                                    <input type="text" id="contactData_EmailOptOutDate" name="contactData_EmailOptOutDate" value="@Model.contactData.Opt_Out_Date" data-provide="datepicker" class="form-control input-lg contactEntryTerms dateDropDown" maxlength="50" />
                                </div>

                                @*MAILING LISTS*@
                                @*<div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <span class="input-group-text input-sm" id="LabelMailingLists">Mailing Lists </span>
                                    <span class="input-group-text requiredClass" id="IG_contactData_Mailing_Lists" name="IG_contactData_Mailing_Lists"><i class="fas fa-user" aria-hidden="true"></i></span>
                                    @Html.ListBoxFor(model => model.contactData.Mailing_Lists, Model.MailingLists, new { @class = "form-control", @style = "height:100px;", @multiple="multiple" })
                                    </div>*@

                                @*MAILING LISTS*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelMailingLists">Mailing Lists (Test)</span>
                                        @*<span class="input-group-text requiredClass" id="IG_contactData_Mailing_Lists" name="IG_contactData_Mailing_Lists"><i class="fas fa-user" aria-hidden="true"></i></span>*@
                                    </div>
                                    @Html.ListBoxFor(model => model.MailingListIntermediate, Model.MailingLists, new { @class = "form-control", @style = "height:150px;", @multiple = "multiple" })
                                </div>
                                        

                                @*LINKED IN PROFILE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelLinkedInProfile">LinkedIn Profile (without "https:") </span>
                                    </div>
                                    <input type="text" id="contactData_LinkedIn_Profile" name="contactData_LinkedIn_Profile" value="@Model.contactData.LinkedIn_Profile" class="form-control input-lg contactEntryTerms" maxlength="100" />
                                </div>

                                @*CONTACT EMAIL*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactEmail">Email </span>
                                        <span class="input-group-text" id="IG_contactData_Email" name="IG_contactData_Email"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" id="contactData_Email" name="contactData_Email" value="@Model.contactData.Email" class="form-control input-lg contactEntryTerms emailAddress" maxlength="50" />
                                </div>

                                @*CONTACT ALT EMAIL*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactAlt_Email">Alternate Email </span>
                                        <span class="input-group-text" id="IG_contactData_Alt_Email" name="IG_contactData_Alt_Email"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" id="contactData_Alt_Email" name="contactData_Alt_Email" value="@Model.contactData.Alt_Email" class="form-control input-lg contactEntryTerms emailAddress" maxlength="50" />
                                </div>

                                @*CONTACT DIRECT LINE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactDirectLine">Direct Line </span>
                                        <span class="input-group-text" id="IG_contactData_Direct_Line" name="IG_contactData_Direct_Line"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" id="contactData_Direct_Line" name="contactData_Direct_Line" value="@Model.contactData.Direct_Line" class="form-control input-lg contactEntryTerms phone" maxlength="12" />
                                </div>

                                @*CONTACT BUSINESS PHONE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactPhone">Business Phone </span>
                                        <span class="input-group-text" id="IG_contactData_Phone" name="IG_contactData_Phone"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" id="contactData_Phone" name="contactData_Phone" value="@Model.contactData.Phone" class="form-control input-lg contactEntryTerms phone" maxlength="12" />
                                </div>

                                @*CONTACT MOBILE PHONE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactMobilePhone">Mobile Phone </span>
                                        <span class="input-group-text" id="IG_contactData_MobilPhone" name="IG_contactData_MobilePhone"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" id="contactData_MobilePhone" name="contactData_MobilePhone" value="@Model.contactData.MobilePhone" class="form-control input-lg contactEntryTerms phone" maxlength="12" />
                                </div>

                                @*CONTACT HOME PHONE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelClientHomePHone">Home Phone </span>
                                        <span class="input-group-text" id="IG_clientData_HomePhone" name="IG_clientData_HomePhone"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" id="contactData_HomePhone" name="contactData_HomePhone" value="@Model.contactData.HomePhone" class="form-control input-lg contactEntryTerms phone" maxlength="12" />
                                </div>

                                @*LAST REASSIGNED DATE*@
                                @*<div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <span class="input-group-text input-sm" id="LabelReassigned_Date">Reassigned Date </span>
                                    <input type="text" id="contactData_Reassigned_Date" name="contactData_Reassigned_Date" data-provide="datepicker" class="form-control input-lg contactEntryTerms dateDropDown" maxlength="50" />
                                    </div>*@

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">

                                @*CONTACT INITIAL MEETING DETAILS*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelClientInitialMeetingDetails">Contact Details </span>
                                        <span class="input-group-text requiredClass" id="IG_contactData_Initial_Meeting_Details"></span>
                                        @*<input type="text" id="contactData_Initial_Meeting_Details" name="contactData_Initial_Meeting_Details" class="form-control input-lg clientEntryTerms" maxlength="50" />*@
                                    </div>
                                    <textarea rows="50" style="height:150px;" id="contactData_Initial_Meeting_Details" name="contactData_Initial_Meeting_Details"  class="form-control input-lg contactEntryTerms" maxlength="500">@Model.contactData.Initial_Meeting_Details</textarea>
                                </div>

                                <br />

                            </div>
                        </div>


                        @*COMPANY INFORMATION*@
                        <div class="row">
                            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 workingSectionSubHeaderBackground">
                                <h2 class="subHeadingTitle"><i class="fas fa-building" aria-hidden="true"></i> Company Information</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" style="padding:5px;" align="left">

                                @*COMPANY NAME - Use this just in case the contact exists.  If if does, it will select a Contact ID to update the contact.  If not, it will use the text value.*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text input-sm" id="LabelCompanyName">Company Name </span>
                                    <span class="input-group-text requiredClass" id="IG_CompanyName"></span>
                                    </div>
                                    <input type="text" id="CompanyName" name="CompanyName" value="@Model.companyData.Name" class="form-control input-lg clientEntryTerms" maxlength="50" />
                                    </div>
                                    <input type="hidden" name="CompanyId" id="CompanyId" value="@Model.contactData.AccountId" />

                                @*<div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelCompanyName">Company Name</span>
                                        <span class="input-group-text requiredClass" id="IG_CompanyName" name="IG_CompanyName"></span>
                                    </div>
                                    <input type="text" id="CompanyName" name="CompanyName" class="form-control input-lg contactEntryTerms" value="@Model.companyData.Name" maxlength="50" />
                                    <span class="input-group-text input-sm btn btn-primary btn-sm" name="refreshContacts" id="refreshContacts" type="button">Refresh</span>
                                </div>*@

                                @*COMPANY BUSINESS DESCRIPTION*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelClientBusinessDescription">Business Description </span>
                                    </div>
                                    <input type="text" id="companyData_Description" name="companyData_Description" value="@Model.companyData.Description" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*OWNERSHIP PERCENTAGE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactOwnershipPercentage">Ownership % </span>
                                        @*<span class="input-group-text requiredClass" id="IG_contactData_OwnershipPercentage"></span>*@
                                    </div>
                                    <input type="text" id="contactData_OwnershipPercentage" name="contactData_OwnershipPercentage" value="@Model.contactData.OwnershipPercentage" class="form-control input-lg contactEntryTerms" maxlength="50" />

                                </div>
                            </div>

                            <div class="col-lg-6" style="padding:5px;" align="left">

                                @*COMPANY SIC CODE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelClientSICCode">SIC Code </span>
                                    </div>
                                    <input type="text" id="companyData_SICCode" name="companyData_SICCode" class="form-control input-lg contactEntryTerms" value="@Model.companyData.SICCode" maxlength="50" />
                                </div>

                                @*COMPANY CHARTER STATE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelCompanyCharterState">Charter State </span>
                                    </div>
                                    @Html.DropDownListFor(model => model.companyData.CharterState, Model.StateList, new { @class = "form-control", @maxlength = 5 })
                                </div>

                                @*GUARANTOR*@
                                <div class="input-group input-group-sm" style="margin-bottom:0px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactGuarantor">Guarantor? </span>
                                    </div>
                                    @*<span class="input-group-text requiredClass" id="IG_contactData_Guarantor"></span>*@
                                    <span style="padding:5px;padding-left:10px;">
                                        @Html.CheckBoxFor(model => model.contactData.Guarantor) &nbsp;&nbsp; (Click if yes/Unclick if no)
                                    </span>
                                </div>

                                <br />

                            </div>

                        </div>



                        @*ADDRESS INFORMATION*@
                        <div class="row">
                            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 workingSectionSubHeaderBackground">
                                <h2 class="subHeadingTitle"><i class="fa fa-map-pin"></i> Address Information</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" style="padding:5px;" align="left">
                                <b>Mailing</b>
                                <br />
                                @*MAILING STREET*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactMailingAddress">Street </span>
                                    </div>
                                    <input type="text" id="contactData_MailingStreet" name="contactData_MailingStreet" value="@Model.contactData.MailingStreet" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*MAILING SUITE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactMailingSuite">Suite, Apt #, etc. </span>
                                    </div>
                                    <input type="text" id="contactData_MailingSuite" name="contactData_MailingSuite" value="@Model.contactData.MailingSuite" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*MAILING CITY*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactMailingCity">City </span>
                                    </div>
                                    <input type="text" id="contactData_MailingCity" name="contactData_MailingCity" value="@Model.contactData.MailingCity" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*MAILING STATE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactMailingState">State </span>
                                    </div>
                                    @Html.DropDownListFor(model => model.contactData.MailingState, Model.StateList, new { @class = "form-control", @maxlength = 5 })
                                </div>

                                @*MAILING ZIPCODE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactMailingCity">ZipCode </span>
                                    </div>
                                    <input type="text" id="contactData_MailingPostalCode" name="contactData_MailingPostalCode" value="@Model.contactData.MailingPostalCode" class="form-control input-lg contactEntryTerms zip" maxlength="5" />
                                </div>

                            </div>
                            <div class="col-lg-6" style="padding:5px;" align="left">
                                <b>Physical</b>
                                <br />
                                @*PHYSICAL STREET*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactOtherAddress">Street </span>
                                    </div>
                                    <input type="text" id="contactData_OtherStreet" name="contactData_OtherStreet" value="@Model.contactData.OtherStreet" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*PHYSICAL SUITE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactOtherSuite">Suite, Apt #, etc. </span>
                                    </div>
                                    <input type="text" id="contactData_OtherSuite" name="contactData_OtherSuite" value="@Model.contactData.OtherSuite" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*PHYSICAL CITY*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactOtherCity">City </span>
                                    </div>
                                    <input type="text" id="contactData_OtherCity" name="contactData_OtherCity" value="@Model.contactData.OtherCity" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                @*PHYSICAL STATE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactOtherState">State </span>
                                    </div>
                                    @Html.DropDownListFor(model => model.contactData.OtherState, Model.StateList, new { @class = "form-control", @maxlength = 5 })
                                </div>

                                @*PHYSICAL ZIPCODE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelContactOtherCity">ZipCode </span>
                                    </div>
                                    <input type="text" id="contactData_OtherPostalCode" name="contactData_OtherPostalCode" value="@Model.contactData.OtherPostalCode" class="form-control input-lg contactEntryTerms zip" maxlength="5" />
                                </div>


                            </div>
                        </div>


                        @*REFERRAL SOURCE INFORMATION*@
                        <div class="row">
                            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 workingSectionSubHeaderBackground">
                                <h2 class="subHeadingTitle">Referral Source</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" style="padding:5px;" align="left">


                                @*REFERRING COMPANY*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelReferring_Company">Referring Company </span>
                                    </div>
                                    <input type="text" id="contactData_Referring_Company" name="contactData_Referring_Company" value="@Model.ReferralCompanyName" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                    <input type="hidden" name="ReferringCompanyId" id="ReferringCompanyId" value="@Model.contactData.Referring_Company" />
                                </div>

                                @*REFERRING CONTACT*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelReferring_Contact">Referring Contact </span>
                                        <span class="input-group-text input-sm btn btn-primary btn-sm" name="refreshContacts" id="refreshContacts"><i class="fa fa-redo" aria-hidden="true"></i></span>
                                    </div>
                                    @*<input type="text" id="contactData_Referring_Contact" name="contactData_Referring_Contact" value="@Model.contactData.Referring_Contact" class="form-control input-lg contactEntryTerms" maxlength="50" />*@
                                    <select id="contactData_Referring_Contact" name="contactData_Referring_Contact" class="form-control input-lg contactEntryTerms">
                                    </select>
                                    <input type="hidden" name="ReferringContactId" id="ReferringContactId" value="@Model.contactData.Referring_Contact" />
                                </div>

                                @*REFERRAL DATE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelReferralDate">Referral Date </span>
                                    </div>
                                    <input type="text" id="contactData_Referral_Date" name="contactData_Referral_Date" value="@Model.contactData.Referral_Date" data-provide="datepicker" class="form-control input-lg contactEntryTerms dateDropDown" maxlength="50" />
                                </div>
                            </div>

                            <div class="col-lg-6" style="padding:5px;" align="left">
                                @*REFERRAL PARTNER AGREEMENT DATE*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelReferralPartnerAgreementDate">Agreement Date </span>
                                    </div>
                                    <input type="text" id="contactData_Referral_Partner_Agmnt_Date" name="contactData_Referral_Partner_Agmnt_Date" value="@Model.contactData.Referral_Partner_Agmnt_Date" data-provide="datepicker" class="form-control input-lg contactEntryTerms dateDropDown" maxlength="50" />
                                </div>

                                @*REFERRAL PARTNER AGREEMENT DETAILS*@
                                <div class="input-group input-group-sm" style="margin-bottom:5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-sm" id="LabelReferral_Partner_Agreement_Details">Agreement Details </span>
                                    </div>
                                    <input type="text" id="contactData_Referral_Partner_Agreement_Details" name="contactData_Referral_Partner_Agreement_Details" value="@Model.contactData.Referral_Partner_Agmnt_Details" class="form-control input-lg contactEntryTerms" maxlength="50" />
                                </div>

                                <br />

                            </div>

                        </div>



                    </div>

                </div>




                <div class="col-lg-3" style="padding:10px;height:100%;" align="left" id="rightScroll">
                    <div class="container-fluid">
                        @*ACTIVITY INFO*@
                        <div class="row">
                            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 workingSectionSubHeaderBackground">
                                <h2 class="subHeadingTitle">Next Activity</h2>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" name="NextScheduledTaskID" id="NextScheduledTaskID" value="@Model.taskData.Id" />
                            @*TASK TYPE *@
                            <div class="input-group input-group-sm" style="margin-bottom:5px;padding:5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-sm" id="LabelCallType">Call Type </span>
                                    <span class="input-group-text requiredClass" id="IG_taskData_Type" name="IG_taskData_Type"></span>
                                </div>
                                @Html.DropDownListFor(model => Model.taskData.Type, Model.TaskList, new { @class = "form-control input-sm", @maxlength = 5 })
                            </div>

                            @*TASK OWNER *@
                            <div class="input-group input-group-sm" style="margin-bottom:5px;padding:5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-sm" id="LabelTaskOwner">Task Owner </span>
                                    <span class="input-group-text requiredClass" id="IG_taskData_OwnerId" name="IG_taskData_OwnerId"><i class="fas fa-user" aria-hidden="true"></i></span>
                                </div>
                                @Html.DropDownListFor(model => Model.taskData.OwnerId, Model.ActiveUserList, new { @class = "form-control input-sm", @maxlength = 5 })
                            </div>

                            @*TASK DUE DATE *@
                            <div class="input-group input-group-sm" style="margin-bottom:5px;padding:5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-sm" id="LabelTaskActivityDate">Task Date </span>
                                    <span class="input-group-text requiredClass" id="IG_taskData_ActivityDate" name="IG_taskData_ActivityDate"></span>
                                </div>
                               @* <input type="datetime-local" id="taskData_ActivityDate" name="taskData_ActivityDate" value="{@Model.taskData.ActivityDate:yyyy-MM-ddThh:mm}" 
                                        class="form-control input-lg clientEntryTerms dateDropDown" maxlength="50" />*@
                                <input asp-for="taskData.ActivityDate" asp-format="{0:yyyy-MM-ddThh:mm}" type="datetime-local" class="form-control" />
                            </div>

                            @*TASK nOTES *@
                            <div class="input-group input-group-sm" style="margin-bottom:5px;padding:5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-sm" id="LabelTaskDescription">Notes </span>
                                    <span class="input-group-text requiredClass" id="IG_taskData_Description" name="IG_taskData_Description"></span>
                                </div>
                                <textarea rows="50" style="height:150px;" id="taskData_Description" name="taskData_Description" class="form-control input-lg clientEntryTerms" maxlength="50">@Model.taskData.Description</textarea>
                            </div>

                        </div>




                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12" style="padding:10px;" align="left">

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Save Edits" class="btn btn-primary btn-lg" />
                        </div>
                    </div>

                </div>
            </div>

        }











        <div class="modal fade panel-primary" id="modalAddClientContact" tabindex="-1" role="dialog" aria-labelledby="modalAddClientContact">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header overviewHeaderNormal">
                        <i class="fa fa-credit-card"></i> Update Client Contacts
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                            <tbody>
                                <tr>
                                    <td class="rightTextAlign" style="width:25%;">Facility Name:</td>
                                    <td class="leftTextAlign"><input type="text" value="" /></td>
                                </tr>
                                <tr>
                                    <td class="rightTextAlign">Facility Type:</td>
                                    <td class="leftTextAlign">
                                        <select>
                                            <option>-- Select --</option>
                                            <option>Revolving</option>
                                            <option>Term</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="rightTextAlign">Facility Categories:</td>
                                    <td class="leftTextAlign">
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="AR">
                                        <label for="vehicle1"> A/R</label><br>
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> Inventory</label><br>
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> Real Estate</label><br>
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> M & E</label><br>
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> Brokerage</label><br>
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> Other</label><br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer leftTextAlign">
                        <button type="button" class="btn btn-primary">Add Facility</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

}

<script src="~/jQuery/jQuery_GeneralValidation.js"></script>
<script src="~/jQuery/jQuery_ContactFunctions.js"></script>
<script src="~/jQuery/jQuery_ContactValidation.js"></script>


