@model IEnumerable<AmeriForce.Models.Contacts.ContactIndexViewModel>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="~/Content/ContactStyleSheet.css" rel="stylesheet" />
@*<link href="~/Content/ClientStyleSheet.css" rel="stylesheet" />*@


<nav aria-label="breadcrumb" align="right">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">Contacts</li>
    </ol>
    </nav>

@*<div style="border:0px solid #333;">*@
@*<div class="container">
    <div class="row" align="right">
    <div class="col-lg-12">
    <a class="btn btn-primary btn-md tinyButton" href="@Url.Action("TestCreateContact", "Test")" style="padding:5px;margin:10px;">Create New Contact</a>
    </div>
    </div>
    </div>*@
<div class="container mainPageBody" style="border:1px solid #333;background-color:#fff;">

    @*Contact Detail Div*@
    <div class="row contactHeader">
        <div class="col-lg-5" align="left">
            <div style="border:0px solid black;">
                <table align="left">
                    <tr>
                        <td valign="middle" style="border:1px solid #fff;padding:3px;">
                            <i class="fa fa-user" style="font-size:48px;"></i>
                        </td>
                        <td class="leftTextAlign" style="border:1px solid #fff;padding:10px;">
                            <span class="overviewHeader dealAmount">
                                Contacts
                            </span>
                            <br />
                            <span class="nameSubHeader gradeAReversed"> @ViewBag.SubTitle (@ViewBag.ContactCount)</span>
                            <br />
                            <span class="nameSubHeaderNextCall"> @ViewBag.TimeStamp</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-3 dealAmount" align="center">
            &nbsp;
        </div>
        <div class="col-lg-3" align="center">
            &nbsp;
        </div>
        <div class="col-lg-1" align="center">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 dividerTableBackground" style="height:3px;">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="padding:10px;background-color:#eee;" align="center">
            <a href='@Url.Action("Index", "Contacts", new { id = 999 })' class="btn btn-sm btn-primary">All Contacts</a>
            <a href='@Url.Action("Index", "Contacts", new { id = 1 })' class="btn btn-sm btn-primary">All New Contacts</a>
            <a href='@Url.Action("Index", "Contacts", new { id = 2 })' class="btn btn-sm btn-primary">My Contacts</a>
            <a href='@Url.Action("Index", "Contacts", new { id = 3 })' class="btn btn-sm btn-primary">Active Referral Partner Contacts</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" style="padding:10px;" align="left">
            <a href='@Url.Action("Create", "Contacts")' class="btn btn-sm btn-primary" style="padding:0px 5px 0px 5px;font-size:12px;"> <i class="fa fa-plus"></i> Create Contact</a>
        </div>
        <div class="col-lg-6" style="padding:10px;" align="left">
            <p align="right">
                Search: <input type="text" name="contactSearch" class="searchTextbox" placeholder="Search Contacts..." />
            </p>
        </div>
        </div>

            <div class="row">
                <div class="col-lg-12" style="padding:10px;" align="left">
                    <div class="container">

                        <table class="table table-condensed table-striped table-hover searchTable" style="width:100%;">
                            <tr class="darkTableHeading">
                                <th align="left" class="leftTextAlign">
                                    @Html.DisplayName("Owner")
                                </th>
                                <th class="leftTextAlign" style="width:30px;">
                                    @Html.DisplayName("Grade")
                                </th>
                                <th align="left" class="leftTextAlign">
                                    @Html.DisplayName("Contact Name")
                                </th>
                                <th align="left" class="leftTextAlign">
                                    @Html.DisplayName("Company")
                                </th>
                                <th align="left" class="leftTextAlign">
                                    @Html.DisplayName("Phone")
                                </th>
                                <th align="left" class="leftTextAlign">
                                    @Html.DisplayName("Email")
                                </th>

                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="leftTextAlign">
                                        @item.OwnerName

                                    </td>
                                    <td class="leftTextAlign">

                                        @{
                                            switch (item.Grade)
                                            {
                                                case "A":
                                                    <img src="~/Images/aContactIcon.png" style="height:20px;" />
                                                    break;
                                                case "B":
                                                    <img src="~/Images/bContactIcon.png" style="height:20px;" />
                                                    break;
                                                case "C":
                                                    <img src="~/Images/cContactIcon.png" style="height:20px;" />
                                                    break;
                                                case "D":
                                                    <img src="~/Images/dContactIcon.png" style="height:20px;" />
                                                    break;
                                                case "OTHER":
                                                    <i class="fa fa-question" title="" style="font-size:large;"></i>
                                                    break;
                                                default:
                                                    <i class="fa fa-question" title="" style="font-size:large;"></i>
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td class="leftTextAlign">
                                        @Html.DisplayFor(modelItem => item.ContactName)
                                        @{
                                            if (item.RelationshipStatus == "New")
                                            {
                                                <span class="label label-danger">@item.RelationshipStatus</span>
                                            }
                                        }

                                    </td>
                                    <td class="leftTextAlign">
                                        <a href='@Url.Action("Details", "Companies", new { id = item.AccountID })'>@item.Company</a>

                                        @*<a href='@Url.Action("Details", "Companies", new { id = item.AccountId })'>@controller.GetCompanyName(item.AccountId)</a>*@
                                    </td>
                                    <td class="leftTextAlign">
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td class="leftTextAlign">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>

                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-primary" style="padding:0px 5px 0px 5px;font-size:12px;">View</a> 
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-primary" style="padding:0px 5px 0px 5px;font-size:12px;">Edit</a> 
                                        @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                                    </td>
                                </tr>
                            }

                        </table>


                    </div>
                </div>
            </div>
        </div>

        
@section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

        <script src="~/jQuery/jQuery_TableSearch.js"></script>
        }
