@model IEnumerable<AmeriForce.Models.Contacts.ContactIndexViewModel>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="~/Content/ContactStyleSheet.css" rel="stylesheet" />


<nav aria-label="breadcrumb" align="right">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">Contacts</li>
        <li class="breadcrumb-item active" aria-current="page">Contact Listing</li>
    </ol>
    </nav>

<div class="container mainPageBody" style="border:1px solid #333;background-color:#fff;">

    <div class="row contactHeader">
        <div class="col-lg-5" align="left">
            <div style="border:0px solid black;">
                <table align="left">
                    <tr>
                        <td valign="middle" style="border:1px solid #fff;padding:3px;">
                            <i class="fa fa-user" style="font-size:48px;"></i>
                        </td>
                        <td class="leftTextAlign" style="border:1px solid #fff;padding:10px;">
                            <span class="overviewHeader dealAmount">
                                Contacts
                            </span>
                            <br />
                            <span class="nameSubHeaderNextCall"> Current as of: @DateTime.Now</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-3 dealAmount" align="center">
            &nbsp;
        </div>
        <div class="col-lg-3" align="center">
            &nbsp;
        </div>
        <div class="col-lg-1" align="center">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 dividerTableBackground" style="height:3px;">
            &nbsp;
        </div>
    </div>

   @* <div class="row">
        <div class="col-lg-12" style="padding:10px;background-color:#eee;" align="center">
            <a href='@Url.Action("Index", "Contacts", new { id = 999 })' class="btn btn-sm btn-primary">All Contacts</a>
            <a href='@Url.Action("Index", "Contacts", new { id = 1 })' class="btn btn-sm btn-primary">All New Contacts</a>
            <a href='@Url.Action("Index", "Contacts", new { id = 2 })' class="btn btn-sm btn-primary">My Contacts</a>
            <a href='@Url.Action("Index", "Contacts", new { id = 3 })' class="btn btn-sm btn-primary">Active Referral Partner Contacts</a>
        </div>
    </div>*@

     <div class="row">
            <div class="col-lg-12" style="padding:10px;background-color:#eee;" align="center">
                <a href='@Url.Action("Create", "Contacts")' class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Create Contact</a>
            </div>
        </div>

    <div class="row">
        @*<div class="col-lg-6" style="padding:10px;" align="left">
            <a href='@Url.Action("Create", "Contacts")' class="btn btn-sm btn-primary" style="padding:0px 5px 0px 5px;font-size:12px;"> <i class="fa fa-plus"></i> Create Contact</a>
        </div>*@


        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="padding:10px;" align="left">
                    <div class="container">
                        <div id="selectStatus"></div>
                        <div id="contactsIndexGrid">

                        </div>
                    </div>
                </div>
            </div>
        </div>





        @*<div class="col-lg-6" style="padding:10px;" align="left">
            <p align="right">
                Search: <input type="text" name="contactSearch" class="searchTextbox" placeholder="Search Contacts..." />
            </p>
        </div>*@
        </div>

            @*<div class="row">
                <div class="col-lg-12" style="padding:10px;" align="left">
                        
                        <table id="tableContactList" class="table table-condensed table-hover table-bordered searchTable" style="width:100%;">
                            <tr class="darkTableHeading">
                                <th align="left" class="leftTextAlign" >
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6" align="left">
                                                @Html.DisplayName("Owner")
                                            </div>
                                            <div class="col-sm-6" align="right">
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableAsc(0)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-up"></i></button>
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableDesc(0)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th class="leftTextAlign" style="width:160px;padding:5px;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6" align="left">
                                                @Html.DisplayName("Grade")
                                            </div>
                                            <div class="col-sm-6" align="right">
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableAsc(1)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-up"></i></button>
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableDesc(1)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th align="left" class="leftTextAlign" style="padding:5px;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6" align="left">
                                                @Html.DisplayName("Contact Name")
                                            </div>
                                            <div class="col-sm-6" align="right">
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableAsc(2)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-up"></i></button>
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableDesc(2)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th align="left" class="leftTextAlign" style="padding:5px;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6" align="left">
                                                @Html.DisplayName("Company")
                                            </div>
                                            <div class="col-sm-6" align="right">
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableAsc(3)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-up"></i></button>
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableDesc(3)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th class="leftTextAlign" style="width:160px;padding:5px;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6" align="left">
                                                @Html.DisplayName("Phone")
                                            </div>
                                            <div class="col-sm-6" align="right">
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableAsc(4)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-up"></i></button>
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableDesc(4)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th align="left" class="leftTextAlign" style="width:160px;padding:5px;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6" align="left">
                                                @Html.DisplayName("Email")
                                            </div>
                                            <div class="col-sm-6" align="right">
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableAsc(5)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-up"></i></button>
                                                <button class="btn btn-sm btn-primary tinyButton" onclick="sortTableDesc(5)" style="padding:0px 5px 0px 5px;font-size:8px;"><i class="fa fa-angle-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </th>

                                <th style="width:100px;"></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="leftTextAlign" style="padding:3px;width:200px;">
                                        @item.OwnerName

                                    </td>
                                    <td class="centerTextAlign" style="padding:3px;">

                                        @{
                                            switch (item.Grade)
                                            {
                                                case "A":
                                                    <img src="~/Images/aContactIcon.png" style="height:20px;" />
                                                    break;
                                                case "B":
                                                    <img src="~/Images/bContactIcon.png" style="height:20px;" />
                                                    break;
                                                case "C":
                                                    <img src="~/Images/cContactIcon.png" style="height:20px;" />
                                                    break;
                                                case "D":
                                                    <img src="~/Images/dContactIcon.png" style="height:20px;" />
                                                    break;
                                                case "OTHER":
                                                    <i class="fa fa-question" title="" style="font-size:large;"></i>
                                                    break;
                                                default:
                                                    <i class="fa fa-question" title="" style="font-size:large;"></i>
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td class="leftTextAlign" style="padding:3px;">
                                        @Html.DisplayFor(modelItem => item.ContactName)
                                        @{
                                            if (item.RelationshipStatus == "New")
                                            {
                                                <span class="badge badge-info">@item.RelationshipStatus</span>
                                            }
                                        }

                                    </td>
                                    <td class="leftTextAlign" style="padding:3px;">
                                        <a href='@Url.Action("Details", "Companies", new { id = item.AccountID })'>@item.Company</a>

                                    </td>
                                    <td class="leftTextAlign" style="padding:3px;">
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td class="leftTextAlign" style="padding:3px;">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>

                                    <td style="padding:3px;">
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-primary" style="padding:0px 5px 0px 5px;font-size:12px;">View</a> 
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-primary" style="padding:0px 5px 0px 5px;font-size:12px;">Edit</a> 
                                    </td>
                                </tr>
                            }

                        </table>


                </div>
            </div>*@

        </div>

        
@section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        
<script src="~/jQuery/devExtremeContactsGridControls.js"></script>
        <script src="~/jQuery/jQuery_TableSearch.js"></script>
        }

<script>
    function sortTableAsc(rowid) {
      var table, rows, switching, i, x, y, shouldSwitch;
      var rowIDConverted = rowid;
      console.log(rowIDConverted);
      table = document.getElementById("tableContactList");
      switching = true;
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[rowIDConverted];
          y = rows[i + 1].getElementsByTagName("TD")[rowIDConverted];
          //check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }

    function sortTableDesc(rowid) {
      var table, rows, switching, i, x, y, shouldSwitch;
      var rowIDConverted = rowid;
      console.log(rowIDConverted);
      table = document.getElementById("tableContactList");
      switching = true;
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[rowIDConverted];
          y = rows[i + 1].getElementsByTagName("TD")[rowIDConverted];
          //check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
</script>