@model IEnumerable<AmeriForce.Data.Company>

@{
    ViewData["Title"] = "MergeContacts";
}

<h1>MergeContacts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SICCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharterState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingPostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SICCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharterState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingPostalCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
